@tailwind base;
@tailwind components;
@tailwind utilities;


.glitch-btn {
  box-shadow: -5px 4px 1px theme("colors.secondary.100");
}

.glitch-btn2 {
  box-shadow: -5px 4px 1px #000c;
}

body{
  background: black;
}